@model OlympicDataTransfer.Models.OlympicEntry

@{
    ViewData["Title"] = "Olympic Game Details";
}

<h2>@Model.Country</h2>

<img src="@Model.FlagPath" class="img-fluid mb-3" alt="@Model.Country" />

<dl class="row">
    <dt class="col-sm-3">Game</dt>
    <dd class="col-sm-9">@Model.Game</dd>

    <dt class="col-sm-3">Sport</dt>
    <dd class="col-sm-9">@Model.Sport</dd>

    <dt class="col-sm-3">Type</dt>
    <dd class="col-sm-9">@Model.Type</dd>
</dl>

<div class="mt-3">
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Return to Home Page</a>
    <form asp-controller="Favorites" asp-action="AddToFavorites" method="post" class="d-inline">
        <input type="hidden" name="country" value="@Model.Country" />
        <input type="hidden" name="game" value="@Model.Game" />
        <input type="hidden" name="sport" value="@Model.Sport" />
        <input type="hidden" name="type" value="@Model.Type" />
        <input type="hidden" name="flagPath" value="@Model.FlagPath" />
        <button type="submit" class="btn btn-primary">Add to Favorites</button>
    </form>

</div>
